body {
    background: #b8c034;
    margin: 0;
    padding: 0;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #fff;
    margin: 40px 0px 0px 0px;
}

.input-box label:last-child {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2rem;
    color: #fff;
    line-height: 57px;
}

.form_container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 85svh;
    margin: 50px 0px;
}

.form_flex {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100svh; */
}

.form_container .row:first-child {
    border-radius: 50px;
    overflow: hidden;
}

.form_container .row:first-child>.col-lg-6 {
    padding: 0;
    margin: 0;
}

.form-section {
    background: #273572;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    color: #fff;
    height: 100%;
    min-width: 450px;
}

.custom-btn {
    width: fit-content;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.btn-14 {
    background: #b8c034;
    border: none;
    z-index: 1;
    margin-top: 20px;
}

.btn-14:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background-color: rgb(243 104 31);
    background-image: linear-gradient(315deg, #273572 0%, #273572 74%);
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5);
    transition: all 0.3s ease;
}

.btn-14:hover:after {
    top: auto;
    bottom: 0;
    height: 100%;
}

.btn-14:active {
    top: 2px;
}

.forget_pass {
    display: flex;
    justify-content: end;
    margin-bottom: 20px;
}

.forget_pass a {
    color: #b8c034;
}

.account_signup {
    margin-top: 10px;
}

.account_signup a {
    color: #fff;
    text-decoration: none;
}

.theme-color {
    color: #b8c034;
}



.img_side_width {
    width: 530px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    height: 100%;
    position: relative;
    max-width: 100%;
}

.img_side_width img {
    max-width: 200px;
    height: auto;
}

.account_signup span {
    font-weight: 600;
    font-size: 18px;
}

.account_signup a:hover span {
    text-decoration: underline;
}

/* Disable default autofill styling */
input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 0 #273572 inset !important;
    box-shadow: 0px 6px 0px 30px #273572 inset !important;
    color: #fff !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #fff !important;
}

.error:not(.form-check-input) {
    width: 100%;
    text-align: start;
    display: block;
    padding-top: 5px;
    color: #b8c034;
}

select {
    /* Reset Select */
    appearance: none;
    outline: 10px red;
    border: 0;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 0 1em;
    color: #fff;
    background-color: #2c3e50;
    background-image: none;
    cursor: pointer;
}

/* Remove IE arrow */
select::-ms-expand {
    display: none;
}

/* Custom Select wrapper */
.select {
    position: relative;
    display: flex;
    width: 100%;
    height: 3em;
    border-radius: .25em;
    overflow: hidden;
}

/* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    background-color: #34495e;
    transition: .25s all ease;
    pointer-events: none;
}

/* Transition */
.select:hover::after {
    color: #fff;
}

@media only screen and (max-width: 768px) {
    .mobile_hide {
        display: none;
    }
    .form_container .row:first-child>.col-lg-6{
        margin: auto;
        padding: inherit;
    }
    .form-section{
        min-width: auto;
        border-radius: 20px;
    }
    .form_container .row:first-child{
        overflow: auto;
        border-radius: 0px;
        width: 100%;
    }
    .form_container{
        margin: 50px 20px;
    }
    .form_flex{
        width: 100%;
    }
}