.newFeedSec {
    margin: 40px 0px;
}
button#openPostModal {
    margin: .4rem 0;
    font-size: 1.3rem;
    flex-grow: 1;
    max-width: none;
    line-height: 1.5;
    border: 1px solid rgb(210 210 210);
    border-radius: 35px;
    padding-left: 1.6rem;
    transition: .3s all ease;
}
button#openPostModal:hover {
    background: rgb(140 140 140 /.1);
}

.image-preview {
    position: relative;
  }
  .image-preview img {
    width: 100%;
    border-radius: 6px;
  }
  .image-tools {
    position: absolute;
    top: 6px;
    right: 6px;
    display: flex;
    gap: 4px;
  }
  .image-tools button {
    background: rgba(0,0,0,0.6);
    color: white;
    border: none;
    padding: 2px 6px;
    font-size: 12px;
    border-radius: 4px;
  }
  .image-box:hover .btn-left,
.image-box:hover .btn-right {
    opacity: 1;
    visibility: visible;
}
.btn-left, .btn-right {
    opacity: 0.3;
    visibility: hidden;
    transition: all 0.2s;
}
