:root {
    --primary: #273572;
    --secondary: #b8c034;
    --bg-light: #2a3e812b;
    --bg-gray: #f4f9ff;
    --black: #000000;
    --white: #ffffff;
    --dark: #333333;
    --text-color: #333333;
    --trans: all 0.4s ease 0s;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: none;
}

::-webkit-scrollbar-track-piece {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

::-webkit-scrollbar-thumb:vertical {
    border-radius: 10px;
    background-color: var(--secondary);
}

body {
    /* font-family: var(--font-body); */
    overflow-x: hidden;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-color);
}
::-webkit-input-placeholder {
    color: #a3a3a3;
    font-weight: 400;
}

::-moz-placeholder {
    color: #a3a3a3;
    font-weight: 400;
}

:-ms-input-placeholder {
    color: #a3a3a3;
    font-weight: 400;
}

:-moz-placeholder {
    color: #a3a3a3;
    font-weight: 400;
}

::-moz-placeholder {
    opacity: 1;
}
.header {
    padding: 5px 10px;
    background: var(--secondary);
    color: var(--white);
}
.header .profile img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: center;
    border-radius: 40px;
}

.header .profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header .profile .profile_name_dd {
    text-decoration: none;
    color: var(--white);
    font-weight: 600;
}
.btn-primary:hover{
    background: var(--secondary);
    border-color: var(--secondary);
}
.btn-primary{
    background: var(--primary);
    border-color: var(--primary);
}

.btn-secondary:hover{
    background: var(--primary);
    border-color: var(--primary);
}
.btn-secondary{
    background: var(--secondary);
    border-color: var(--secondary);
}


.header .header_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header_left {
    display: flex;
    align-items: center;
    gap: 50px;
    width: 70%;
}

.header .header_left .left-nav .nav {
    padding: 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

.header .header_left .left-nav .nav a {
    text-decoration: none;
    font-size: 18px;
    color: var(--white);
}

.logo img {
    max-height: 90px;
    width: 100%;
}
.user_form label {
    margin: 20px 0px 5px 0px;
}

.user_form {
    padding: 20px;
    margin: 50px 0px;
    border-radius: 15px;
    box-shadow: 1px 1px 6px 2px var(--primary);
}

.section_heading {
    text-align: center;
    margin: 20px 0px;
}

.section_heading h1 {
    border-bottom: 2px solid var(--primary);
    width: fit-content;
    margin: 0 auto;
}
.theme-btn{
    box-sizing: border-box;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .025rem;
    line-height: 1.25rem;
    border-radius: 100vmax;
    cursor: pointer;
    text-align: center;
    background: none;
    border: none;
    padding: .8125rem 2rem;
    transition: border .3s cubic-bezier(.39,.575,.565,1), box-shadow .3s cubic-bezier(.39,.575,.565,1), color .3s cubic-bezier(.39,.575,.565,1), background .3s cubic-bezier(.39,.575,.565,1), box-shadow .3s cubic-bezier(.39,.575,.565,1);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    color: var(--black);
    min-width: 15rem;
    background-color: hsla(0, 0%, 100%, .2);
    border: 1px solid var(--primary);
    --focus-outline-offset: -6px;
}
.theme-btn:hover{
    background: var(--primary);
    color: var(--white);
    border-color: var(--primary);
}
.flex_field_btn{
    display: flex;
    align-items: end;
    gap: 20px;
}

.avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 50px auto;
  }
  .avatar-upload .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
  }
  .avatar-upload .avatar-edit input {
    display: none;
  }
  .avatar-upload .avatar-edit input + label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;

  }
  .avatar-upload .avatar-edit input + label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
  }
  .avatar-upload .avatar-edit input + label:after {
    content: "\f040";
    font-family: 'FontAwesome';
    color: #757575;
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
  }
  .avatar-upload .avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 10px;
    /* border: 6px solid #F8F8F8; */
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  }
  .avatar-upload .avatar-preview > div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .avatar-upload .avatar-preview > div img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  .error{
    color:red;
  }

  .user_profile_flex {
    display: flex;
    align-items: center;
}

.profile_square img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}
.user_profile_flex .profile_square {
    width: 200px;
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--white);
    border-radius: 10px;
}

.basic_details {
    width: 100%;
    margin-left: 30px;
}

.details_data {
    /* font-size: 21px;
    font-weight: 600; */
    margin-top: 6px;
}
.details_label{
    font-size: 18px;
    font-weight: 600;
}
.details_card {
    max-width: 1350px;
    margin: 30px auto;
    padding: 20px;
    background: #f4f4f4;
    border-radius: 20px;
}

.details_card h3{
    margin-bottom: 20px;
    border-bottom: 2px solid var(--primary);
}
.company_link {
    text-align: end;
    margin-bottom: 10px;
}

.company_link a {
    /* text-decoration: none; */
    font-weight: 600;
    font-size: 18px;
    color: var(--primary);
}
.details_card .all_details {
    margin: 20px 0px;
}
.details_data a {
    text-decoration: none;
    color: inherit;
    font-size: 17px;
}

.details_data a:hover {
    text-decoration: underline;
}
.all_details .details_data {
    /* font-weight: 500; */
    font-size: 15px;
}

.all_details .details_data a {
    font-size: 15px;
}
.accordion-button:not(.collapsed) {
    color: var(--white);
    font-size: 18px;
    font-weight: 600;
    background: var(--primary);
}

.accordion-button:not(.collapsed)::after {
    filter: brightness(0) invert(1);
}
.user_company_profile {
    padding: 20px 0px;
    background: #2735720d;
}

.user_company_profile .profile_pic img {
    border-radius: 15px;
    height: 300px;
    width: 300px;
    margin: 0 auto;
    object-fit: cover;
    max-width: 100%;
    display: block;
}

.user_company_profile .custom_card_profile {
    background: var(--white);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px #e0dada;
    margin: 40px 0px 0px 0px;
}
.card_profile_first{
    height: 97%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user_company_profile .profile_data {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 50px 0px 0px 0px;
    border-bottom: 2px solid var(--secondary);
    padding-bottom: 10px;
}
.user_company_profile .profile_data.description_border {
    border: 1px solid;
    padding: 15px 10px;
    border-radius: 10px;
    font-size: 19px;
}
.user_company_profile .location_data .profile_data {
    margin: 30px 0px 0px 0px;
}
.user_company_profile .profile_heading {
    /* text-align: center; */
    margin: 50px 0px 0px 0px;
    font-size: 2rem;
    color: var(--primary);
}
.user_company_profile .btn-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    gap: 10px;
}

.user_company_profile .btn-flex .btn {
    width: 49%;
    padding: 20px 0px;
    font-size: 20px;
    font-weight: 500;
}

.user_company_profile .company_logo img {
    max-height: 200px;
    max-width: 100%;
}
.user_company_profile .location_data .profile_subheading {
    font-size: 1.7rem;
    margin: 30px 0px 0px 0px;
}
.user_company_profile .location_data .profile_subheading + .profile_data {
    font-size: 1rem;
    margin: 10px 0px;
    border: none;
    font-weight: 400;
}
.header .header-mid {
    min-width: 70%; 
}

.header .header-mid .search_area{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    position: relative;
}
.header .header-mid .search_area select{
    width: 30%;
}
.header .header-mid .search_area .btn {
    padding: 5px 10px;
    border: 2px solid var(--primary);
    background: transparent;
    border-radius: 4px;
    font-weight: 600;
}
img:not(.logo img, .user_company_profile .company_logo img) {
    border: 2px solid var(--primary);
}
.header-mid select, .header-mid input{
    border: 2px solid var(--primary);
}