:root {
    --primary: #0575e6;
    --secondary: #000000;
    --bg-light: #2a3e812b;
    --bg-gray: #f4f9ff;
    --black: #000000;
    --white: #ffffff;
    --dark: #333333;
    --text-color: #333333;
    --trans: all 0.4s ease 0s;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: none;
}

::-webkit-scrollbar-track-piece {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

::-webkit-scrollbar-thumb:vertical {
    border-radius: 10px;
    background-color: var(--primary);
}

body {
    /* font-family: var(--font-body); */
    overflow-x: hidden;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-color);
}
::-webkit-input-placeholder {
    color: #a3a3a3;
    font-weight: 400;
}

::-moz-placeholder {
    color: #a3a3a3;
    font-weight: 400;
}

:-ms-input-placeholder {
    color: #a3a3a3;
    font-weight: 400;
}

:-moz-placeholder {
    color: #a3a3a3;
    font-weight: 400;
}

::-moz-placeholder {
    opacity: 1;
}
.header {
    padding: 20px 10px;
}
.header .profile img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
    border-radius: 40px;
}

.header .profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header .profile .profile_name {
    text-decoration: none;
    color: var(--text-color);
}

.header .header_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header_left {
    display: flex;
    align-items: center;
    gap: 50px;
}

.header .header_left .left-nav .nav {
    padding: 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

.header .header_left .left-nav .nav a {
    text-decoration: none;
    font-size: 18px;
    color: var(--text-color);
}

.user_form label {
    margin: 20px 0px 5px 0px;
}

.user_form {
    padding: 20px;
    margin: 50px 0px;
    border-radius: 15px;
    box-shadow: 1px 1px 6px 2px var(--primary);
}

.section_heading {
    text-align: center;
    margin: 20px 0px;
}

.section_heading h1 {
    border-bottom: 2px solid var(--primary);
    width: fit-content;
    margin: 0 auto;
}
.theme-btn{
    box-sizing: border-box;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .025rem;
    line-height: 1.25rem;
    border-radius: 100vmax;
    cursor: pointer;
    text-align: center;
    background: none;
    border: none;
    padding: .8125rem 2rem;
    transition: border .3s cubic-bezier(.39,.575,.565,1), box-shadow .3s cubic-bezier(.39,.575,.565,1), color .3s cubic-bezier(.39,.575,.565,1), background .3s cubic-bezier(.39,.575,.565,1), box-shadow .3s cubic-bezier(.39,.575,.565,1);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    color: var(--black);
    min-width: 15rem;
    background-color: hsla(0, 0%, 100%, .2);
    border: 1px solid var(--primary);
    --focus-outline-offset: -6px;
}
.theme-btn:hover{
    background: var(--primary);
    color: var(--white);
    border-color: var(--primary);
}
.flex_field_btn{
    display: flex;
    align-items: end;
    gap: 20px;
}

.avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 50px auto;
  }
  .avatar-upload .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
  }
  .avatar-upload .avatar-edit input {
    display: none;
  }
  .avatar-upload .avatar-edit input + label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
  }
  .avatar-upload .avatar-edit input + label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
  }
  .avatar-upload .avatar-edit input + label:after {
    content: "\f040";
    font-family: 'FontAwesome';
    color: #757575;
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
  }
  .avatar-upload .avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  }
  .avatar-upload .avatar-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .error{
    color:red;
  }