.card.sticky-profile {
    position: sticky;
    top: 90px;
    z-index: 1;
}
.profile_cover_bg {
    height: 57.33px;
    background: #b8c034;
    border-radius: 5.33px;
}
.profile_card_pic {
    position: relative;
    width: 100%;
    max-width: 74.67px;
    min-height: 74.67px;
    margin: -30px auto 10.67px auto;
}
.profile_card_details {
    padding: 0 8px 13px 8px;
}
.user-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.username {
    font-weight: 600;
    font-size: 0.95rem;
    margin-bottom: 0;
}
.user-position {
    font-size: 0.8rem;
    color: #555;
    margin-bottom: 0;
    line-height: 1.5;
}
