.card.sticky-profile {
    position: sticky;
    top: 90px;
    z-index: 1;
}
.profile_cover_bg {
    height: 60px;
    background: linear-gradient(135deg, #cfd8dc, #eceff1);
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}
.profile_card_pic {
    margin-top: -30px;
    position: relative;
    padding: 0px 20px;
}
.profile_card_details {
    padding: 10px 20px;
}
.user-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.username {
  font-weight: 600;
  font-size: 0.95rem;
  margin-bottom: 0;
}
.user-position {
  font-size: 0.8rem;
  color: #555;
  margin-bottom: 0;
  line-height: 1.5;
}
